#google-logo-image {
    /* height: 92px; */
    width: 350px;
    /* aspect-ratio: auto 272 / 92; */
}

.index-link {
    text-decoration: none;
    float: right;
    color: #696969;
    font-family: Arial, sans-serif;
    padding-left: 15px;
}

#advanced-search-links {
    overflow: hidden;
}

#advanced-search-border {
    border-bottom: 1px solid #ebebeb;
}

#advanced-search-header {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial, sans-serif;
}

.advanced-search-subform {
    float: left;
}

.subform {
    clear: both;
}

.advanced-search-text-form-prompt {
    display: inline-block;
    vertical-align: middle;
    min-width: 167px;
    font-size: 13px;
    height: 42px;
}

.advanced-search-form-header {
    font-size: 16px;
}

.advanced-search-form {
    margin: 40px 2% 0 45px;
}

.advanced-search-text-input {
    width: 50%;
}

.common-font {
    font-family: Arial, sans-serif;    
}

a:hover {
    text-decoration: underline;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-text-input {
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    border: solid;
    border-color: #bdc1c6;
    border-width: thin;
}

.search-text-input-form {
    padding: 10px;
    margin: 10px 0;
}

.search-buttons-div {
    text-align: center;
}

.search-button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}




